#login_bg{
    background: #269abc url("./m_images/bg.png");
}
.login_wrapper{
    width: 355px;
    margin: 0 auto;
    color: #777777;
    font-size: 16px;
    padding-top: 110px;
}
.login_header{
    position: relative;
    margin-bottom: 20px;
    display: block;
}
.login_header a{
    color: #555555;
    text-decoration: none;
    cursor: pointer;
}
.login_header img{
    margin: 30px 0 0 5px;
}
#cloud_s{
    position: absolute;
    left: 375px;
    top: 15px;
}
#cloud_m{
    position: absolute;
    left: 470px;
    top: -35px;
}
.login_box{
    padding: 25px;
    overflow: hidden;
    background: #f6fbff;
	border:solid 1px #7c9fbf;
	border-radius:2px;
}
#loginForm{
    width: 360px;
    margin: 0;
}
#loginForm input#username{
    width: 274px;
    border: solid 1px #d1d1d1;
}
input:focus{
	outline:none;
     border:#87C6F9 1px solid;
     box-shadow: 0 0 3px rgba(103, 166, 217, 1);
}
#loginForm input#password{
    width: 274px;
    border: solid 1px #d1d1d1;
}
input[type="text"],input[type="password"]{
    outline: none;
    font: 20px/32px "微软雅黑","宋体",Arial;
    height: 30px;
    padding: 6px 10px;
    margin: 0 0 20px 0;
}
#loginForm label{
    float: left!important;
    vertical-align: top;
    height: 37px;
}
#submitLogin {
	font-family:"微软雅黑";
    width: 296px;
    height: 46px;
    font-size: 18px;
    line-height: 46px;
    clear: both;
    float: left;
    background: #3f89ec;
    color: #fff;
    border: none;
    text-align: center;
	border-radius: 2px;
}
#submitLogin:hover{
    background:#4490f7;
}
#cloud_s{z-index:2}

.copyright{
    height: 50px;
    padding: 20px;
    text-align: center;
    word-spacing:4px;
	bottom:60px;
	position:fixed;
	text-indent:0;
	font-size:14px;
	font-family:"宋体";
	color:#333;
	text-indent:2em;
	z-index:-99;
}
.error {
	margin: 10px 0 0 0;
    clear: both;
    float: left;
    color: #f00;
    display: none;
}